.cta-inner {
    .cta-list {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 5rem;

        @media screen and (max-width:1111px) {
            flex-wrap: wrap;
        }
a{
display: block;
width: 13rem;
height: 13rem;
background-color: #dadada;
border-radius: 13rem;
    .img-wrap {
        transform: translateX(-3rem);
        width: 120%;
        height: 120%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    
    
}
@media screen and (max-width:1111px) {
        a {
            width: 10rem;
            height: 10rem;
            .img-wrap {
                transform: translateX(-2.5rem);
            }
        }
        
    }
        p {
            font-size: 1.5rem;
            margin-top: .9rem;
        }

        @media screen and (max-width:599px) {
                  .img-wrap {
                    width: 9.5rem;
                    height: 9.5rem;
                  }
                  p{
                    font-size: 1.2rem;
                  }
        }
    }
}